<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imikasa.mapper.BrandMapper">

    <select id="getAllBrand" resultType="com.imikasa.beans.ProductBrand">
        select * from pms_brand
    </select>

    <insert id="addBrand" parameterType="com.imikasa.beans.ProductBrand">
        insert into pms_brand (name,first_letter,sort,factory_status,show_status,logo,big_pic,brand_story) values (#{name},#{firstLetter},#{sort},#{factoryStatus},#{showStatus},#{logo},#{bigPic},#{brandStory})
    </insert>

</mapper>